<div class="back-logs-table">
  <div>
    {{#each logs}}
    <div class="row">
      <div class="col-sm-4">
        <h6>{{id}}</h6>
      </div>
      <div class="col-sm-4">
        <h6>{{title}}</h6>
      </div>
      {{!-- <div class="col-sm-4">
        <button>Select</button>
      </div> --}}
      </div>
    {{/each}}
  </div>
</div>
