.log-crud {
  float: right;
}

.user-auth {
  float: left;
}

table {
  border-collapse: collapse;
}

td, th {
  border: 1px solid #999;
  padding: 0.5rem;
  text-align: left;
}

.back-logs-table {
  text-align: center;
}

.ack-log-table {
  text-align: center;
}
