.log-crud {
  float: right;
  clear: none;
  padding: 10px 30px;
  display: none;
}

.for-loged-in-user {
  display: none;
}

.user-auth {
  float: left;
  padding: 2px;
}

.user-display {
  padding-top: 5px;
  text-align: center;
  margin-top: 0;
}

.page-landing {
  width: inherit;
  border-radius: 4px;
  text-align: center;
  background-color: $grey-blue;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  margin-left: 0;
  margin-right: 0;
}

.page-header {
  margin-top: 0;
  padding: 0 35px;
}

.back-logs-table {
  text-align: center;
}

.hbs-content {
  clear: both;
  display: none;
  text-align: center;
}

.log-content {
  display: none;
  text-align: center;
}

.full-width {
  width: auto;
}

button {
  border-radius: 4px;
  background: none;
  border: 1px $light-grey;
}

button:hover {
  border: 1px solid $dark-grey;
}

.back-log-button {
  background: none;
  border: 1px $light-grey;
}

.back-log-button:hover {
  border: 1px solid $dark-grey;
}

.black-text {
  color: #3e4042;
}

.well {
  background-color: $light-grey;
}

.back-logs-table {
  border-radius: 4px;
  background-color: $light-grey;
}

.back-logs-table .row > div {
  border-right: 1px solid $very-light-grey;
}

.update-selected-log-button {
  display: none;
}

.big-left-margin {
  margin-left: 500px;
}
