.log-crud {
  float: right;
  clear: none;
  padding: 2px;
  display: none;
}

.for-loged-in-user {
  display: none;
}

.user-auth {
  float: left;
  padding: 2px;
}

table {
  border-collapse: collapse;
}

td, th {
  border: 1px solid #999;
  padding: 0.5rem;
  text-align: left;
}

.back-logs-table {
  text-align: center;
  display: inline-block;
}

.content {
  clear: both;;
  display: none;
  text-align: center;
}

button {
  background: none;
  border: 0;
}

button:hover {
    background-color: #d7dbe2;
}

.update-selected-log-button {
  display: none;
}
